:root {
    --text-color: #fff;
    --text-color-navbar: #000;
    --color: #f00;
    --background-color: #000;
    --background-secondary: #181818;
    --archived-color: #ff0;
}

.display-none {
    display: none;
}

a {
    color: var(--color);
}

main {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

::selection {
    background-color: var(--color);
    color: var(--background-color);
}

body {
    background: radial-gradient(var(--background-secondary), var(--background-color));
    background-size: max(100vw, 100vh) max(100vw, 100vh);
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--text-color);
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

nav>ul>li {
    cursor: pointer;
    list-style: none;
    font-weight: 400;
}

nav>ul>li>a {
    text-decoration: none;
}

nav>ul {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

/*
    Default style
*/

.project-gallery>a {
    text-decoration: none;
}

.hello-heading {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

main>section {
    height: calc(100vh - 120px);
    margin: 60px;
    position: relative;
    width: calc(100vw - 120px);
}

footer>div>ul {
    list-style: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

main>footer {
    border-top: 2px solid var(--color);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    padding: 60px;
    position: relative;
}

.page-heading,
.heading {
    color: var(--color);
}

.contact-buttons-container>.button:hover {
    border-color: var(--color);
    color: var(--color);
}

.error-heading {
    height: min-content;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, calc(-50% - 80px));
    width: 70vw;
}

#contact-from-checkbox {
    display: none;
}

.contact-form-modal {
    background-color: var(--background-color);
    display: none;
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 50;
}


input:checked+.contact-form-modal {
    display: block;
}



/*
    Projects
*/
.project-gallery {
    display: flex;
    height: 30vh;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    user-select: none;
    width: 100%;
}

.project-gallery>div {
    background-color: var(--background-color);
    border-radius: 10px;
    background-color: #000;
    height: calc(100% - 40px);
    min-width: 400px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
}

.project-gallery>div.archived::after {
    content: "ARCHIVED";
    border: 1px solid var(--archived-color);
    background-color: var(--archived-color);
    color: #000;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: center;
    padding: 5px;
    line-height: 10px;
    font-weight: bolder;
    font-size: 12px;
}

.project-gallery>div>a>div.title {
    bottom: 20px;
    color: var(--text-color);
    position: absolute;
    right: 20px;
}

.project-gallery>div>a.github,
.project-gallery>div>a.link {
    background-image: url("/static/img/svgs/github.svg");
    background-size: cover;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .2s;
    width: 30px;
}

.project-gallery>div>a.github:hover,
.project-gallery>div>a.link:hover {
    opacity: .5;
}


.project-gallery>div>a.link {
    background-image: url("/static/img/svgs/link.svg");
    right: 45px;
}


.project-gallery>div>a>img {
    background-color: var(--background-color);
    height: 100%;
    object-fit: cover;
    opacity: .5;
    width: 100%;
}

.project-gallery>div {
    margin: 20px;
}

.max-width {
    max-width: 750px;
    margin: 60px auto;
    height: auto;
}

.text {
    font-size: 20px;
    line-height: 30px;
}

.server-log-list>li::marker {
    content: '> ';
    padding-right: 10px;
    color: var(--color);
}

.address {
    font-family: monospace;
    margin: 20px;
}

.color {
    color: var(--color);
}


.small-margin {
    margin: 20px auto;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

label.close[for="contact-from-checkbox"] {
    top: 10px;
    right: 10px;
    position: absolute;
}

.project-image {
    width: 100%;
}

.skill-box {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color);
    line-height: 40px;
    font-size: 20px;
}

.skill-box-container {
    min-width: 40%;
}

.skill-bar {
    height: 30px;
    padding: 5px 0;
    width: 100%;
    overflow: hidden;
    padding-left: 20px;
}

.skill-bar-fill {
    border-radius: 10px;
    transition: .5s;
    height: 100%;
    width: calc(var(--value) / 100 * 100%);
    background-color: var(--color);
    position: relative;
}

.skill-bar-fill::after {
    counter-reset: value var(--value);
    content: counter(value) "%";
    position: absolute;
    top: 0px;
    right: 10px;
    color: var(--background-color);
    line-height: 32px;
    font-size: 16px;
    height: 32px;
}

/*
    Desktop style
*/
@media screen and (min-width: 700px) {

    body.home main>footer {
        scroll-snap-align: center;
    }

    body.home main>section {
        scroll-snap-align: start;
        scroll-margin-top: 60px;
    }

    .about-slide {
        display: flex;
    }

    .skill-box-container {
        margin: 0 40px;
    }

    /*
        Nav
    */
    nav>ul {
        display: flex;
        position: relative;
    }

    nav {
        background: var(--color);
        position: fixed;
        right: 0;
        top: 0;
        width: max-content;
        z-index: 5;
    }

    nav>ul::before {
        background: var(--color);
        content: "";
        height: 70px;
        left: -35px;
        position: absolute;
        rotate: 45deg;
        top: -25px;
        width: 70px;
        z-index: -1;
    }

    nav>ul>li {
        height: 60px;
    }

    nav>ul>li>a {
        color: var(--text-color-navbar);
        display: inline-flex;
        font-size: 22px;
        height: 60px;
        line-height: 60px;
        margin: 0px;
        padding: 0 40px;
        transition: .2s;
        background-color: var(--color);
    }

    nav>ul>li:hover>a {
        background-color: var(--background-color);
        color: var(--color);
    }

    /*
        Main content
    */


    .page-heading {
        color: var(--color);
        font-size: 60px;
        line-height: 70px;
    }

    .dots {
        background-image: url("/static/img/svgs/dots.svg");
        background-position: left top;
        background-repeat: repeat;
        background-size: 40px 40px;
        height: 80px;
        position: absolute;
        right: 10px;
        top: 50px;
        width: 320px;
    }


    .scroll-down {
        bottom: 0px;
        position: absolute;
        right: 0px;
        user-select: none;
        width: 300px;
    }

    /*
    Contact Form Modal
    */
    .contact-buttons-container>.button {
        border: 1px solid var(--text-color);
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        margin: 20px;
        text-align: center;
        transition: .2s;
        user-select: none;
        width: 50%;
        text-decoration: none;
        color: var(--text-color);
    }

    .contact-buttons-container {
        display: flex;
        width: 500px;
    }



    .heading {
        color: var(--color);
        font-size: 25px;
        line-height: 35px;
    }


    .desktop-hidden {
        display: none;
    }

    .contact-form-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*
    Mobile style
*/
@media screen and (max-width: 700px) {

    .skill-bar-fill::after {
        display: none;
    }

    .left-header {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 60px;
        width: 100vw;
        background-color: var(--background-color);
        z-index: 2;
    }

    .left-header>img,
    .nav-mobile-img {
        height: 40px;
        margin: 10px 20px;

    }

    .nav-mobile-img {
        margin-bottom: 20px;
    }

    nav>ul>li>a {
        font-size: 25px;
        line-height: 40px;
        margin-left: 20px;
    }

    main>section {
        height: auto;
        margin: 60px 20px;
        width: calc(100vw - 40px);
        scroll-snap-align: none;
    }

    .nav-btn {
        background-color: var(--color);
        height: 60px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 56px;
        z-index: 5;
    }

    .nav-btn::before {
        background: var(--color);
        content: "";
        height: 70px;
        left: -35px;
        position: absolute;
        rotate: 45deg;
        top: -25px;
        width: 70px;
        z-index: -1;
    }

    #nav-toggle:checked~div>.nav-icon:before {
        transform: translateY(12px) rotate(135deg);
    }

    #nav-toggle:checked~div>.nav-icon:after {
        transform: translateY(-12px) rotate(-135deg);
    }

    #nav-toggle:checked~div>.nav-icon div {
        transform: scale(0);
    }

    .nav-icon {
        cursor: pointer;
        float: right;
        margin: 8.5px;
        width: 40px;
    }

    .about-slide {
        display: block;
    }

    .skill-box-container {
        margin: 10px 0px;
    }

    .nav-icon:after,
    .nav-icon:before,
    .nav-icon div {
        background-color: var(--background-color);
        border-radius: 3px;
        content: "";
        display: block;
        height: 5px;
        margin: 7px 0;
        transition: all 0.2s ease-in-out;
    }

    nav {
        background-color: var(--background-color);
        height: min-content;
        max-height: 0%;
        left: 0px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        transition: .5s;
        width: 100vw;
        z-index: 3;
    }

    #nav-toggle:checked~label>nav {
        max-height: 100%;
    }

    #nav-toggle:checked~label {
        position: absolute;
        display: block;
        height: 100vh;
        z-index: 2;
        top: 0px;
        width: 100vw;
        left: 0px;
    }

    main>footer {
        display: block;
    }

    main>footer>* {
        margin-bottom: 40px;
    }


    main>footer>*:last-child {
        margin: 0px;
    }

    .page-heading {
        font-size: 40px;
        line-height: 50px;
    }

    .contact-buttons-container {
        width: 100%;
    }

    .contact-form-modal {
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background: var(--background-color);
    }

    .contact-buttons-container>.button {
        border: 1px solid var(--text-color);
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        margin: 20px 0px;
        text-align: center;
        transition: .2s;
        user-select: none;
        width: calc(100vw - 42px);
        display: block;
        text-decoration: none;
        color: var(--text-color);
    }

    .error-heading {
        width: min-content;
    }

    .heading {
        font-size: 30px;
        line-height: 40px;
    }

    .mobile-hidden {
        display: none;
    }

    .nav-footer>ul {
        display: flex;
        padding-left: 20px;
    }

    .nav-footer>ul>li {
        list-style: none;
        width: max-content;
        margin-right: 20px;
    }

    .project-gallery {
        height: calc(50vh - 120px);
    }

    .project-gallery>div {
        min-width: calc(100vw - 120px);
    }

    main {
        scroll-snap-type: y proximity;
    }

    #hello {
        height: auto;
    }

    .hello-heading {
        padding-top: 60px;
        text-align: center;
        position: relative;
        transform: none;
        left: 0%;
        right: 0%;
    }
}





/* 
    Light mode
*/

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #000;
        --text-color-navbar: #fff;
        --background-color: #fff;
        --background-secondary: #e8e8e8;
    }


    /*
        Icons
    */
}